body {
  background-image: linear-gradient(to top, darken($dark, 10%), lighten($dark, 10%));
  color: white;
  margin: 3vh 5vw;

  @media screen and (min-width: 768px) {
    margin: 5vh 10vw;
  }
}

.Site {
  min-height: 90vh;
  lost-center: 1080px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  position: relative;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: .5em;
  flex-direction: column;

  @media screen and (min-width: 768px) {
    flex-direction: row;
  }

  li {
    font-weight: 100;
    margin-right: .7rem;

    &:before {
      font-weight: 700;
      content: '\b7\a0';
    }

    @media screen and (min-width: 768px) {

      &:first-child:before {
        content: "";
      }
    }
  }
}

.Contact {
  margin-top: 2em;
  padding-top: 2em;
  border-top: 1px solid #2a2d42;
}
