body {
  background-image: linear-gradient(to top, darken($dark, 10%), lighten($dark, 7%));
}

.Site-container {
}

.Page-container {}

.Hero {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 94vh;
  margin: 3vh 5vw;

  @media screen and (min-width: 768px) {
    margin: 5vh 7.5vw;
    min-height: 90vh;
  }
}

.Hero-footer {
  font-size: 0.75rem;
  align-self: center;
  margin-top: 2rem;
}

.Header {
  width: 100%;
  margin: 1.5rem 0 0;
  padding-top: 1.5rem;
  border-top: 1px solid #2a2d42;
  overflow: visible;

  @media screen and (min-width: 768px) {
    top: 0;
    left: 0;
    width: calc(100% - 3rem);
    position: absolute;
    padding: 1.25rem 0 1.5rem;
    margin: 0 1.5rem;
    border-top: 0;
    border-bottom: 1px solid #2a2d42;

    p {
      margin: 0;
    }
  }
}

.Contact {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  p {
    display: flex;
    align-items: center;
  }

  svg {
    flex: none;
    margin-right: 0.5rem;
  }
}

.Content {
  width: 100%;
  max-width: 1080px;
  margin: auto;
  text-align: center;
}

.skill-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;

  &:first-of-type {
    margin-top: 2rem;
  }

  @media screen and (min-width: 768px) {
    justify-content: center;
    flex-direction: row;
  }

  li {
    white-space: nowrap;
    margin-right: 1.5rem;
    margin-bottom: 0.75rem;
  }

  img, svg {
    width: 30px;
    height: 30px;
    vertical-align: -4px;
    margin-right: 0.5rem;
  }
}
