html {
  font-family: "Source Code Pro", sans-serif;
  font-size: 18px;
  font-weight: 300;
  color: white;
}

.MainHeading {
  font-weight: 100;
  font-size: 10.5vmin;
  line-height: 1.2;
  text-indent: -1px;
  color: #ededed;
  margin-bottom: 1.5rem;

  strong {
    font-weight: 700;
  }

  @media screen and (min-width: 768px) {
    font-size: 5vw;
    font-weight: 100;
    margin-bottom: 4rem;
  }
}

h1 {
  font-size: 4vw;
}

h2 {
  font-size: 2vw;
}

.Content {
  font-size: 4vmin;

  @media screen and (min-width: 600px) {
    font-size: 3vmin;
  }

  @media screen and (min-width: 768px) {
    font-size: 2.5vmin;
  }
}

p {
  margin: 1em 0;

  &:first-child {
    margin-top: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}

a {
  color: cornflowerblue;
  font-weight: 700;
}

.Contact p {
  font-size: 1rem;

  @media screen and (min-width: 768px) {
    font-size: 1rem;
  }
}
