html {
  font-family: "Roboto mono", monospace;
  font-size: 18px;
  font-weight: 300;
}

.MegaHeading {
  font-weight: 700;
  font-size: 8vw;
  line-height: 1;
  margin-bottom: 3rem;
}

h1 {
  font-size: 5vw;
}

h2 {
  font-size: 3vw;
}

p, li {
  font-size: 2vmin;
}

a {
  color: cornflowerblue;
  font-weight: 700;
}